<span class="assets-list">

        <br>       
        <font size="4" color=#566573>Game templates:</font>                
        <a href="https://assetstore.unity.com/packages/templates/systems/jigsaw-puzzle-creator-kit-49279" class="button">Puzzle Kit</a>
        <a href="https://assetstore.unity.com/packages/templates/systems/hidden-objects-game-starter-kit-19927" class="button">Hidden Objects Kit</a>
        <a href="https://assetstore.unity.com/packages/templates/systems/cards-mini-game-56520" class="button"> Cards game</a>
        <a href="https://assetstore.unity.com/packages/templates/packs/pizza-defense-project-15975" class="button">Pizza Defence</a>
        <a href="https://assetstore.unity.com/packages/templates/systems/sweets-slicer-15894" class="button">Sweets Slicer</a>
        <br>
        <br>
        <font size="4" color=#566573>Systems:</font>    
        <a href="https://assetstore.unity.com/packages/tools/gui/easy-map-system-15327" class="button">Easy Map</a>
        <a href="https://assetstore.unity.com/packages/tools/ai/easy-waypoints-path-system-6725" class="button">Easy Waypoints</a>
        <a href="https://assetstore.unity.com/packages/templates/systems/easy-weapons-system-16754" class="button">Easy Weapons </a>
        <a href="https://assetstore.unity.com/packages/tools/gui/easy-menu-system-4230" class="button">Easy Menu</a>
        <a href="https://assetstore.unity.com/packages/tools/ai/easy-pickups-collectables-system-7446" class="button">Easy Pickups</a>
        <a href="https://assetstore.unity.com/packages/3d/characters/easy-doors-chests-and-traps-7551" class="button">Easy Dors</a>
        <a href="https://assetstore.unity.com/packages/3d/characters/texture-utility-46257" class="button">Texture Utility</a>
  
</span>
