<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  
  <body>
      <header>
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        {% if page.show_description %}
          <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
        {% endif %}
      </header>

      <div id="banner">  </div>

    
          
      <div id="mmenu">
        
        	
        <br>
        <a href="index.html">
          <img src="assets/images/allebi_logo_sm.png" width="150" height="49" alt="LOGO"> 
        </a>
       
        <centered>
          <a href="mailto:AllebiGames@gmail.com?subject=page.mailTitle" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/contact/mail_sm.png" alt="Mail">
          </a>
          
          
          
          <a href="mailto:AllebiGames@gmail.com?subject=" + page.mailTitle target="_blank" rel="noopener noreferrer">
          <img src="assets/images/contact/mail_sm.png" alt="Mail">
          </a>
          
          
           <a href="mailto:AllebiGames@gmail.com?subject=<%=page.mailTitle%>" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/contact/mail_sm.png" alt="Mail">
          </a>
          
          
          
          <a href="https://assetstore.unity.com/publishers/757" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/contact/unity_sm.png" alt="AssetStore">
          </a>
         </centered>
        
        
         <!--
          <span>ASSETS:</span>

          <ul>
              <li><a href="puzzle-kit.html" class="button">Puzzle Kit</a></li>
              <li><a href="easy-map.html" class="button">Easy Map</a></li>
            </ul>
         -->
        
        <br>       
        <font size="4" color=#566573>Game templates:</font>                
        <a href="https://assetstore.unity.com/packages/templates/systems/jigsaw-puzzle-creator-kit-49279" class="button">Puzzle Kit</a>
        <a href="https://assetstore.unity.com/packages/templates/systems/hidden-objects-game-starter-kit-19927" class="button">Hidden Objects Kir</a>
        <a href="https://assetstore.unity.com/packages/templates/systems/cards-mini-game-56520" class="button"> Cards game</a>
        <a href="https://assetstore.unity.com/packages/templates/packs/pizza-defense-project-15975" class="button">Pizza Defence</a>
        <a href="https://assetstore.unity.com/packages/templates/systems/sweets-slicer-15894" class="button">Sweets Slicer</a>
        <br>
        <br>
        <font size="4" color=#566573>Systems:</font>    
        <a href="https://assetstore.unity.com/packages/tools/gui/easy-map-system-15327" class="button">Easy Map</a>
        <a href="https://assetstore.unity.com/packages/tools/ai/easy-waypoints-path-system-6725" class="button">Easy Waypoints</a>
        <a href="https://assetstore.unity.com/packages/templates/systems/easy-weapons-system-16754" class="button">Easy Weapons </a>
        <a href="https://assetstore.unity.com/packages/tools/gui/easy-menu-system-4230" class="button">Easy Menu</a>
        <a href="https://assetstore.unity.com/packages/tools/ai/easy-pickups-collectables-system-7446" class="button">Easy Pickups</a>
        <a href="https://assetstore.unity.com/packages/3d/characters/easy-doors-chests-and-traps-7551" class="button">Easy Dors</a>
        <a href="https://assetstore.unity.com/packages/3d/characters/texture-utility-46257" class="button">Texture Utility</a>
        
       
        <!--
        <a href="puzzle-kit.html" class="button">Puzzle Kit</a>
        <br>        
        <span>
         <nav>       
          <ul></ul>
         </nav>
        </span>        
        <br>
        -->
        
        <footer>     
          <font size="1" color=#85929E> Copyright © 2020 Allebi </font>
        </footer> 
      </div>
       

    
    
    <div class="wrapper">         
     
      <section>
        {{ content }}
      </section>
      
    

       {% if site.github.is_project_page %}
          <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Using modified theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>

    </div>

             
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    
  </body>
</html>
